header{
    font-size: 25px;
    text-align: center;
}

.title-html{
    color: white;
    font-size: larger;
    width: 500px;
    margin: 20px 0px 20px 420px;
    padding: 10px 15px 10px 15px;
    background-color: grey;
}

img{
    width: 150px;
    height: 150px;
    margin-left: 430px;
    float: left;
}

.second-text{
    margin: 50px 0px 20px 460px;
}

.title-css{
    color: white;
    font-size: larger;
    width: 500px;
    margin: 20px 0px 20px 420px;
    padding: 10px 15px 10px 15px;
    background-color: grey;
}

